body, html{
	margin:0;
	width:100%;
	min-width: 320px;
	height:100%;
	color:#444;
	cursor: default;
	font-size: 0.9em;
}
*:focus {
    outline: 0 !important;
}
h1{
	margin-top: 20px;
}
h2, h3{
	margin: 0;
}
input, .btn{
	border-radius: 3px 15px !important;
}
.wrap{
	min-height: 100%;
	height: auto !important;
	margin:0 auto -60px;
}
.nojava{
	float: left;
	padding-left: 3%;
}
#footer, #push{
	height: 60px;
}
.nav li a{
	border-radius: 0 17px !important;
}
.active a{
	background-color: whitesmoke !important;
}
.center{
	text-align:center;
}
.clear{
	clear:both;
}
.top{
	border:2px solid #ddd;
	padding:20px;
	background-clip: content-box;
	background-color: #ddd;
	padding-top:30px;
	margin: -12px 0 40px 0;
	border-radius:10px 50px;
}
.sitename{
	font-weight: 600;
	color: #f42 !important;
}
.alerts{
	color: red;
	text-align: center;
	display: block;
}
.result{
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid #ddd;
	border-radius: 10px 50px;
}
.muted-credit{
	padding: 15px;
}
#rheader{
	width: 100%;
	color: #555;
}
#rheader p{
	margin-bottom: 0;
}
#rprice{
	margin-bottom: 10px;
}
#rname{
	margin-top: 15px;
}
#rmenu, #rselect{
	display: inline-flex;
	list-style: none;
	color: #555;
	-webkit-padding-start: 0;
}
#rselect li{
	padding: 0 20px;
}
#rmenu li{
	padding: 5px 10px;
	border-right: 1px solid #aaa;
	border-bottom: 3px solid #aaa;
}
#rmenu li:first-child{
	border-left: 1px solid #aaa;
}
#rmenu li:hover, #rselect li:hover{
	color: #0af;
}
#rmenu .active, #rselect .active{
	border-bottom: 3px solid #0af;
	color: #0af;
}
#rfooter ul{
	float: left;
	padding: 0 30px;
	color: #999;
	list-style: none;
	text-align: left;
}
#rfooter ul:last-child{
	float: right;
}